<div class="container mt-4">
    <div class="card">
        <div class="card-body p-1">
            <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-secondary controls-btn-period" id="controlsBtnHour" data-period="hour">Hour</button>
                    <button type="button" class="btn btn-secondary controls-btn-period" id="controlsBtnDay" data-period="day">Day</button>
                    <!-- <button type="button" class="btn btn-secondary controls-btn-period" id="controlsBtnMonth" data-period="month">Month</button> -->
                </div>
                <div class="input-group">
                    <input type="date" class="form-control" id="controlsDate1">
                    <input type="date" class="form-control" id="controlsDate2">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/controls.js"></script>