<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TrackView - InApplet</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="/assets/js/base.js?{{ site.time | date: '%s' }}"></script>
<script src="/assets/js/config/verify_token.js?{{ site.time | date: '%s' }}"></script>

<script>
    (function () {
        var inappletScript = document.createElement('script'); 
        inappletScript.setAttribute('src', 'https://www.inapplet.com/plugin/inapplet.js?va'); 
        document.head.appendChild(inappletScript); 
        window.account_slug = window.trackview_slug;
    })();
</script>