<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>TrackView - InApplet</title>

<link rel="preconnect" href="https://api.inapplet.com">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
<script src="/assets/js/base.js?{{ site.time | date: '%s' }}"></script>
<script src="/assets/js/config/verify_token.js?{{ site.time | date: '%s' }}"></script>

<script>
    (function () {
        var inappletScript = document.createElement('script'); 
        inappletScript.setAttribute('src', 'https://www.inapplet.com/plugin/inapplet.min.js?va'); 
        document.head.appendChild(inappletScript); 
        window.account_slug = window.trackview_slug;
    })();
</script>

<style>
    html body{
        background: #eaeff6;
        color: #67707b;
    }
    body .card{
        border: 0;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
        border-radius: 6px;
        box-shadow: 0 2px 20px -3px #cdd3e6;
        background-color: #fff;
    }

    body .list-group-item{
        border: 0;
        box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
        border-radius: 6px;
        box-shadow: 0 2px 20px -3px #cdd3e6;
        background-color: #fff;
        margin-bottom: 5px;
    }
</style>